@font-face {
    font-family: 'LINE Seed JP';
    src: url(../fonts/LINESeedJP_OTF_Rg.woff2) format("woff2");
}

:root {
    --bs-font-sans-serif: "LINE Seed JP";
}

.brand-text {
    font-family: "Poppins";
}

.selection {
    width: 100%;
}
