:root {
    --bs-font-sans-serif: "a-otf-ud-shin-go-pr6n", sans-serif;
}

.brand-text {
    font-family: "Poppins";
}

.selection {
    width: 100%;
}

/* nowrap をキャンセル（warp する） */
.wrap-column {
    white-space: normal;
    width: 20vw;
}

/* ローディング画面 */

.wf-loading #loading {
    opacity: 1;
}

.wf-active #loading {
    opacity: 0;
    visibility: hidden;
}

#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #0bd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.spinner {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

/* ローディングアニメーション */
@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.0);
        opacity: 0;
    }
}
