{% extends "flame.html" %}
{% load django_bootstrap5 %}
{% block subtitle %}
    お知らせ追加
{% endblock subtitle %}
{% block description %}
    ホーム画面に表示するお知らせを追加します。
{% endblock description %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home:index' %}">ホーム</a></li>
    <li class="breadcrumb-item"><a href="{% url 'home:news_list' %}">お知らせ管理</a></li>
    <li class="breadcrumb-item active" aria-current="page">お知らせ追加</li>
{% endblock breadcrumb %}
{% block menu_manage_news %}
    active
{% endblock menu_manage_news %}
{% block body %}
    <div class="card mt-3">
        <div class="card-header">
            <h1>お知らせ追加</h1>
        </div>
        <div class="card-body">
            <div class="alert alert-info">
                ホーム画面に表示するお知らせを追加します。
                <ul class="mb-0">
                    <li>最終更新者の情報は一般ユーザーに表示されません。</li>
                    <li>本文内の URL には自動的にリンクが付与されます。</li>
                </ul>
            </div>
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="text-secondary text-sm">
                    <p>最終更新者：{{ request.user }}</p>
                </div>
                <div class="mt-3 d-grid d-md-flex justify-content-md-end">
                    {% bootstrap_button button_type="submit" content="追加" %}
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
