{% extends "flame.html" %}
{% block subtitle %}
    ホーム
{% endblock subtitle %}
{% block label %}
    ホーム
{% endblock label %}
{% block menu_home %}
    active
{% endblock menu_home %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>ようこそ RailDB へ！</h1>
        </div>
        <div class="card-body">
            <p class="card-text">
                RailDB は、乗りつぶしファンのための鉄道乗車記録サービスです。
                日本全国の鉄道／軌道等の事業者／路線／駅データを閲覧することができます。
                また、アカウントを作成してログインすると、乗りつぶしの記録をつけることができます。
            </p>
        </div>
        {% if not request.user.is_authenticated %}
            <div class="card-footer text-end">
                <a href="{% url 'home:signin' %}" class="btn btn-primary">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    ログイン／新規登録
                </a>
            </div>
        {% endif %}
    </div>
    <!--  スマホ向けメニュー -->
    {% if request.user.is_authenticated %}
        <div class="row mt-2">
            <div class="col">
                <div class="d-grid d-xl-none">
                    <a href="{% url 'home:profile' %}" class="btn btn-outline-primary">
                        <i class="fa-solid fa-user fa-3x my-2"></i>
                        <p class="my-0">プロフィール</p>
                    </a>
                </div>
            </div>
            <div class="col"></div>
        </div>
        {% if request.user.is_staff %}
            <div class="row mt-2">
                {% if perms.home.raildb_manage_users %}
                    <div class="col">
                        <div class="d-grid d-xl-none">
                            <a href="{% url 'home:manage_users' %}" class="btn btn-outline-success">
                                <i class="fa-solid fa-users fa-3x my-2"></i>
                                <p class="my-0">ユーザー管理</p>
                            </a>
                        </div>
                    </div>
                    <div class="col"></div>
                {% endif %}
            </div>
        {% endif %}
        {% if request.user.is_superuser %}
            <div class="row mt-2">
                <div class="col">
                    <div class="d-grid d-xl-none">
                        <a href="{% url 'home:manage_permissions' %}"
                           class="btn btn-outline-danger">
                            <i class="fa-solid fa-key fa-3x my-2"></i>
                            <p class="my-0">権限管理</p>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid d-xl-none">
                        <a href="{% url 'admin:index' %}" class="btn btn-outline-danger">
                            <i class="fa-solid fa-database fa-3x my-2"></i>
                            <p class="my-0">管理サイト</p>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock body %}
