{% extends "flame.html" %}
{% load static %}
{% load raildb_tags %}
{% block subtitle %}
    {{ object }}
{% endblock subtitle %}
{% block description %}
    {{ object }} の詳細情報を表示します。
{% endblock description %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'home:index' %}">ホーム</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'library:database_search_operator' %}">データベース</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'library:database_detail_operator' object.company.connectoperator.library_operator.pk %}">{{ object.company.connectoperator.library_operator.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.line_name }}</li>
{% endblock breadcrumb %}
{% block menu_database %}
    active
{% endblock menu_database %}
{% block body %}
    <div class="card mt-4 mt-xl-0">
        <div class="card-header">
            <h1>
                {% if object.line_color_c %}<span style="color: #{{ object.line_color_c }};">■</span>{% endif %}
                {{ object.line_name }}
            </h1>
        </div>
        <div class="card-body">
            <h2>基本情報</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th>事業者</th>
                        <td>{{ object.company }}</td>
                    </tr>
                    <tr>
                        <th>路線名称（一般）</th>
                        <td>{{ object.line_name }}</td>
                    </tr>
                    <tr>
                        <th>路線名称（一般／カナ）</th>
                        <td>{{ object.line_name_k }}</td>
                    </tr>
                    <tr>
                        <th>路線名称（正式名称）</th>
                        <td>{{ object.line_name_h }}</td>
                    </tr>
                    <tr>
                        <th>路線カラー</th>
                        <td>
                            {{ object.line_color_t }}
                            {% if object.line_color_c %}（#{{ object.line_color_c }}）{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>路線区分</th>
                        <td>{{ object.get_line_type_display }}</td>
                    </tr>
                </tbody>
            </table>
            <h2>駅情報</h2>
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th>駅名称</th>
                            <th>駅名称（カナ）</th>
                            <th>駅名称（ローマ字）</th>
                            <th>都道府県</th>
                            <th>住所</th>
                            <th>駅グループ（運転系統一覧）</th>
                            <th>接続駅</th>
                            <th>路線一覧</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in station_list %}
                            {% if object.station.e_status == 0 %}
                                <tr>
                                    <td>
                                        {{ object.station.station_name }}
                                    </td>
                                    <td>
                                        {{ object.station.station_name_k }}
                                    </td>
                                    <td>
                                        {{ object.station.station_name_r }}
                                    </td>
                                    <td>
                                        {{ object.station.pref.pref_name }}
                                    </td>
                                    <td>
                                        {{ object.station.address }}
                                    </td>
                                    <td>
                                        {% for grouped_station in object.station.grouped_station_list %}
                                            {% if grouped_station == object.station %}
                                                {% if grouped_station.line.line_color_c %}
                                                    <span style="color: #{{ grouped_station.line.line_color_c }};">■</span>
                                                {% endif %}
                                                {{ grouped_station.line.line_name }}〈{{ grouped_station.station_name }}〉
                                                <br />
                                            {% else %}
                                                {% if grouped_station.e_status == 0 %}
                                                    {% if grouped_station.line.line_color_c %}
                                                        <span style="color: #{{ grouped_station.line.line_color_c }};">■</span>
                                                    {% endif %}
                                                    <a href="{% url 'ekidata:detail_line' grouped_station.line.pk %}">
                                                        {{ grouped_station.line.line_name }}〈{{ grouped_station.station_name }}〉
                                                    </a>
                                                    <br />
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for obj in object.join_prev_list %}
                                            ▲ {{ obj.station_name }}
                                            <br />
                                        {% endfor %}
                                        {% for obj in object.join_next_list %}
                                            ▼ {{ obj.station_name }}
                                            <br />
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for connectstation in object.station.connectstation_set.all %}
                                            {% if not forloop.first %}<br />{% endif %}
                                            <a href="{% url 'library:database_detail_line' connectstation.library_station.line.pk %}">
                                                {{ connectstation.library_station.line }}〈{{ connectstation.library_station.name }}〉
                                            </a>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}
