{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block flame_head %}
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poppins:300,400,700"/>
    <!-- Adobe Fonts -->
    <script>
        (function(d) {
          var config = {
            kitId: 'mup5hrp',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    </script>
    <!-- Bootstra@ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous"/>
    <!-- theme stylesheet-->
    <link rel="stylesheet"
          href="{% static 'css/style.blue.min.css' %}"
          id="theme-stylesheet"/>
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <!-- Font Awesome Icon -->
    <script src="https://kit.fontawesome.com/0636a89ebc.js" crossorigin="anonymous"></script>
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    {% block extrahead %}
    {% endblock extrahead %}
{% endblock flame_head %}
{% block flame %}
    <div class="page">
        <!-- Main Navbar-->
        <header class="header z-index-50">
            <nav class="navbar py-3 px-0 shadow-sm text-white position-relative">
                <div class="container-fluid w-100">
                    <div class="navbar-holder d-flex align-items-center justify-content-between w-100">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand --><a class="navbar-brand d-inline-block" href="{% url 'home:index' %}">
                            <div class="brand-text d-inline-block">
                                <span>Rail</span><strong>DB</strong>
                            </div>
                        </a>
                        <!-- Toggle Button--><a class="menu-btn active" id="toggle-btn" href="#"></a>
                    </div>
                    <!-- Navbar Menu -->
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Logout    -->
                        <li class="nav-item">
                            {% if request.user.is_authenticated %}
                                <a class="nav-link text-white"
                                   data-bs-toggle="modal"
                                   data-bs-target="#signout_modal"
                                   href="#">
                                    <span class="d-inline">ログアウト</span>
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </a>
                            {% else %}
                                <a class="nav-link text-white" href="{% url 'home:auth_signin' %}">
                                    <span class="d-inline">ログイン／新規登録</span>
                                    <i class="fa-solid fa-right-to-bracket"></i>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar z-index-40">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center py-4 px-3">
                <div class="ms-3 title">
                    {% if request.user.is_authenticated %}
                        <h1 class="h4 mb-2">{{ request.user.display_name }}</h1>
                        <p class="fw-light mb-0 lh-1">
                            {% if request.user.is_superuser %}
                                <span class="badge text-bg-danger">システム管理者</span>
                            {% elif request.user.is_staff %}
                                <span class="badge text-bg-warning">スタッフ</span>
                            {% else %}
                                <span class="badge text-bg-primary">ログイン済</span>
                            {% endif %}
                        </p>
                    {% else %}
                        <h1 class="h4 mb-2">ゲスト</h1>
                        <p class="fw-light mb-0 lh-1">
                            <span class="badge text-bg-secondary">未ログイン</span>
                        </p>
                    {% endif %}
                </div>
            </div>
            <!-- Sidebar Navidation Menus-->
            <span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">メニュー</span>
            <ul class="list-unstyled pt-4">
                <li class="sidebar-item{% block menu_home %}{% endblock menu_home %}">
                    <a class="sidebar-link" href="{% url 'home:index' %}">
                        <i class="fa-solid fa-house"></i>
                        <span class="ps-2">ホーム</span>
                    </a>
                </li>
                <li class="sidebar-item{% block menu_database %}{% endblock menu_database %}">
                    <a class="sidebar-link"
                       href="{% url 'library:database_search_operator' %}">
                        <i class="fa-solid fa-train"></i>
                        <span class="ps-2">データベース</span>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="sidebar-item{% block menu_profile %}{% endblock menu_profile %}">
                        <a class="sidebar-link" href="{% url 'home:profile' %}">
                            <i class="fa-solid fa-user"></i>
                            <span class="ps-2">プロフィール</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                    <span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">スタッフ向け</span>
                    <ul class="list-unstyled pt-4">
                        {% if perms.home.raildb_manage_news %}
                            <li class="sidebar-item{% block menu_manage_news %}{% endblock menu_manage_news %}">
                                <a class="sidebar-link" href="{% url 'home:news_list' %}">
                                    <i class="fa-solid fa-newspaper"></i>
                                    <span class="ps-2">お知らせ管理</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.home.raildb_manage_user %}
                            <li class="sidebar-item{% block menu_manage_user %}{% endblock menu_manage_user %}">
                                <a class="sidebar-link" href="{% url 'home:user_list' %}">
                                    <i class="fa-solid fa-users"></i>
                                    <span class="ps-2">ユーザー管理</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
                {% if request.user.is_superuser %}
                    <span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">システム管理者向け</span>
                    <ul class="list-unstyled pt-4">
                        <li class="sidebar-item{% block menu_manage_permission %}{% endblock menu_manage_permission %}">
                            <a class="sidebar-link" href="{% url 'home:permission_management' %}">
                                <i class="fa-solid fa-key"></i>
                                <span class="ps-2">権限管理</span>
                            </a>
                        </li>
                        <li class="sidebar-item{% block menu_csv %}{% endblock menu_csv %}">
                            <a class="sidebar-link" href="{% url 'library:csv_upload' 'operator' %}">
                                <i class="fa-solid fa-file-csv"></i>
                                <span class="ps-2">CSV処理</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'admin:index' %}">
                                <i class="fa-solid fa-database"></i>
                                <span class="ps-2">管理サイト</span>
                            </a>
                        </li>
                    </ul>
                {% endif %}
            {% endif %}
        </nav>
        <div class="content-inner w-100">
            <!-- Page Header-->
            <header class="bg-white shadow-sm px-4 py-3 z-index-20">
                <div class="container-fluid px-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            {% block breadcrumb %}
                            {% endblock breadcrumb %}
                        </ol>
                    </nav>
                </div>
            </header>
            <!-- Dashboard Counts Section-->
            <section class="pb-0">
                <div class="container-fluid">
                    {% bootstrap_messages %}
                    {% block body %}
                    {% endblock body %}
                </div>
            </section>
            <!-- Page Footer-->
            <footer class="position-absolute bottom-0 bg-darkBlue text-white text-center py-3 w-100 text-xs"
                    id="footer">
                <div class="container-fluid">
                    <div class="row gy-2">
                        <div class="col-sm-6 text-sm-start">
                            <p class="mb-0">
                                <a href="https://twitter.com/ToyosuY22"
                                   class="text-white text-decoration-none">Toyosu Y-22</a>
                            </p>
                        </div>
                        <div class="col-sm-6 text-sm-end">
                            <p class="mb-0">
                                Design by <a href="https://bootstrapious.com/p/admin-template"
    class="text-white text-decoration-none">Bootstrapious</a>
                            </p>
                            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<!-- signout modal -->
<div class="modal fade"
     id="signout_modal"
     tabindex="-1"
     aria-labelledby="signout_modal_label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="signout_modal_label">
                    ログアウト
                </h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                ログアウトしますか？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    とじる
                </button>
                <form method="post" action="{% url 'home:auth_signout' %}">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        ログアウトする
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript files-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<!-- Main File-->
<script src="{% static 'js/front.js' %}"></script>
<!-- Custom file -->
<script src="{% static 'js/custom.js' %}"></script>
{% block extrascript %}
{% endblock extrascript %}
{% endblock flame %}
