{% extends "flame.html" %}
{% load django_bootstrap5 %}
{% block subtitle %}
    パスワード再設定
{% endblock subtitle %}
{% block description %}
    パスワードを再設定します。 あなたのEメールアドレスを入力してください。
{% endblock description %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'home:index' %}">ホーム</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'home:auth_signin' %}">ログイン</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">パスワード再設定</li>
{% endblock breadcrumb %}
{% block body %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="alert alert-info" role="alert">
                パスワードを再設定します。
                あなたのEメールアドレスを入力してください。
            </div>
            <div class="alert alert-warning" role="alert">
                Eメールアドレスが誤っていた場合はメールが送信されません。
                入力したEメールアドレスをよく確認してください。
            </div>
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="mt-3 d-grid d-md-flex justify-content-md-end">
                    {% bootstrap_button button_type="submit" content="Eメール送信" %}
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
