{% extends "flame.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block subtitle %}
    アカウント新規登録
{% endblock subtitle %}
{% block description %}
    アカウントを新規登録します。
    表示名とパスワードを入力してください。
{% endblock description %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">アカウント新規登録</li>
{% endblock breadcrumb %}
{% block body %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="alert alert-info" role="alert">
                アカウントを新規登録します。
                表示名とパスワードを入力してください。
                どちらも後から変更できます。
            </div>
            <p>メールアドレス</p>
            <p>{{ email_token.email }}</p>
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="checkbox" id="password-check" />
                パスワードを表示する
                <div class="mt-3 d-grid d-md-flex justify-content-md-end">
                    {% bootstrap_button button_type="submit" content="アカウント新規登録" %}
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
{% block extrascript %}
    <script src="{% static 'home/check_password.js' %}"></script>
{% endblock extrascript %}
